/*2022.09.28.(수)*/

.header h1{
    color: brown;
}

.header h1.on{
    background-color: burlywood;
}

.main ul{
    display: flex;
    list-style: none;
}

.main ul li::after{ /*띄어쓰지 말고 붙여서 쓰기!*/
    content: "|";
}